*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#05070D;
    color:white;
    overflow-x:hidden;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(5,7,13,.6);
    backdrop-filter:blur(15px);
    z-index:1000;
}

.logo{
    font-size:32px;
    font-weight:800;
    color:#0EA5FF;
}

nav ul{
    display:flex;
    list-style:none;
    gap:40px;
}

nav ul a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul a:hover{
    color:#0EA5FF;
}

.btn,
.hero-btn{
    background:#0EA5FF;
    color:white;
    padding:14px 30px;
    border-radius:40px;
    text-decoration:none;
    transition:.3s;
    font-weight:600;
}

.btn:hover,
.hero-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 30px #0EA5FF;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    position:relative;
}

.content h1{
    font-size:90px;
    line-height:90px;
    font-weight:800;
}

.content p{
    max-width:700px;
    margin:30px auto;
    font-size:20px;
    color:#d6d6d6;
}

.glow{
    position:absolute;
    width:700px;
    height:700px;
    background:#0EA5FF;
    filter:blur(220px);
    opacity:.18;
    z-index:-1;
}

@media(max-width:900px){

nav ul{
display:none;
}

.content h1{
font-size:55px;
line-height:60px;
}

.content p{
font-size:18px;
}

}
