*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: radial-gradient(circle at top, #0b1220, #05070D);
    color:white;
    overflow-x:hidden;
}

/* NAVBAR */
nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(5,7,13,0.6);
    backdrop-filter: blur(15px);
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:800;
    color:#0EA5FF;
    letter-spacing:1px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul a{
    color:white;
    text-decoration:none;
    transition:0.3s;
    font-weight:500;
}

nav ul a:hover{
    color:#0EA5FF;
}

/* BUTTON */
.btn{
    background:#0EA5FF;
    color:white;
    padding:10px 22px;
    border-radius:30px;
    text-decoration:none;
    transition:0.3s;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-2px);
    box-shadow:0 0 25px #0EA5FF;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8%;
    position:relative;
}

/* GLOW EFFECT */
.glow{
    position:absolute;
    width:500px;
    height:500px;
    background:#0EA5FF;
    filter:blur(180px);
    opacity:0.2;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:-1;
}

/* TEXT */
.hero-text{
    max-width:550px;
}

.hero-text h1{
    font-size:70px;
    line-height:1;
    font-weight:900;
}

.hero-text p{
    margin:20px 0;
    font-size:18px;
    color:#cfd6e4;
    line-height:1.6;
}

/* HERO BUTTON */
.hero-btn{
    display:inline-block;
    margin-top:10px;
    background:#0EA5FF;
    padding:12px 28px;
    border-radius:30px;
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.hero-btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px #0EA5FF;
}

/* BOTTLE IMAGE */
.hero-image img{
    width:320px;
    animation:float 4s ease-in-out infinite;
    filter:drop-shadow(0 20px 40px rgba(0,0,0,0.6));
}

/* FLOAT ANIMATION */
@keyframes float{
    0%{transform:translateY(0px);}
    50%{transform:translateY(-20px);}
    100%{transform:translateY(0px);}
}

/* RESPONSIVE */
@media(max-width:900px){

    nav ul{
        display:none;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        justify-content:center;
        gap:40px;
    }

    .hero-text h1{
        font-size:45px;
    }

    .hero-image img{
        width:250px;
    }
}
