
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#05070D;
    color:#fff;
    overflow-x:hidden;
}

/* ---------------- NAVBAR ---------------- */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 8%;
    background:rgba(5,7,13,.75);
    backdrop-filter:blur(20px);
    z-index:999;
}

.logo{
    font-size:42px;
    font-weight:800;
    color:#19A8FF;
    letter-spacing:2px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:45px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

nav ul li a:hover{
    color:#19A8FF;
}

.btn{
    background:#19A8FF;
    color:#fff;
    text-decoration:none;
    padding:15px 35px;
    border-radius:50px;
    font-weight:600;
    transition:.35s;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 0 30px #19A8FF;
}

/* ---------------- HERO ---------------- */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding-top:170px;

    padding-left:20px;

    padding-right:20px;

    position:relative;

    overflow:hidden;

}

.content{

    max-width:900px;

    z-index:5;

}

.content h1{

    font-size:95px;

    line-height:95px;

    font-weight:800;

    margin-bottom:30px;

}

.content p{

    font-size:24px;

    color:#d5d5d5;

    line-height:42px;

    margin-bottom:45px;

}

.hero-btn{

    display:inline-block;

    background:#19A8FF;

    color:#fff;

    text-decoration:none;

    padding:18px 45px;

    border-radius:60px;

    font-size:20px;

    font-weight:600;

    transition:.35s;

}

.hero-btn:hover{

    transform:translateY(-6px);

    box-shadow:0 0 40px #19A8FF;

}

.glow{

    position:absolute;

    width:800px;

    height:800px;

    background:#19A8FF;

    border-radius:50%;

    filter:blur(220px);

    opacity:.18;

    z-index:0;

}

/* ---------------- RESPONSIVE ---------------- */

@media(max-width:992px){

nav{

padding:20px 6%;

}

nav ul{

display:none;

}

.logo{

font-size:34px;

}

.content h1{

font-size:60px;

line-height:65px;

}

.content p{

font-size:18px;

line-height:32px;

}

.hero-btn{

font-size:18px;

padding:16px 35px;

}

}
